<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

{{range .}}
	Region: {{.Name}}
	{{range .Hotels}}
			Name: {{.Name}}
			Address: {{.Address}}
			City: {{.City}}
			Zip: {{.Zip}}
	{{end}}
{{end}}

</body>
</html>