<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

{{range .}}
	Restaurant - {{.Restaurant}}
	{{range .Menu}}
		Meal - {{.Meal}}
    {{range .Foods}}
        {{.Name}} - {{.Description}} - {{.Price}}
    {{end}}
	{{end}}
{{end}}

</body>
</html>