<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

{{range .}}
		Years: {{.AcaYear}}<br>
		{{.Fall.Term}}<br>
		{{range .Fall.Courses}}
				{{.Number}} - {{.Name}} - {{.Units}}<br>
		{{end}}

		{{.Spring.Term}}<br>
    {{range .Spring.Courses}}
        {{.Number}} - {{.Name}} - {{.Units}}<br>
    {{end}}
{{end}}

</body>
</html>